@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Работай пж</h1>
    <a asp-controller="home" asp-action="PrintValue">PrintValue</a>
    <a asp-controller="home" asp-action="PrintList">PrintList</a>
    <a asp-controller="home" asp-action=""></a>
    <a asp-controller="home" asp-action=""></a>
</div>
